<!-- quotes/templates/about.html-->

{% extends 'base.html' %}
    {% block content %}
            
        <div class="about-page">
            <div class="about-box">
                <p>
                   <h1> Welcome to Quotes By Steve Irwin! </h1>
                <br>
                
                This website is a tribute to Steve Irwin's incredible life and lasting impact. He wasn't just a TV star - he was a passionate conservationist who taught the world to respect and protect wildlife. 
                Steve's message of love for animals, nature, and education continues to inspire people of all ages. 
                By sharing his quotes, photos, and legacy, this site aims to keep his mission alive and honor the way he made learning about the natural world exciting, fun, and meaningful.
                <br>
                </p>
            </div>

            <div class="about-box">
            <br>
                <h2> The Crocodile Hunter, Conservationist, and Wildlife Warrior </h2>
                <br>

                Steve Irwin was a world-famous Australian wildlife expert, television personality, and conservationist, best known for his energetic personality and deep love for animals. Born on February 22, 1962, in Essendon, Victoria, Australia, Steve spent his life working to protect wildlife and teach others about the importance of conservation.

                He rose to international fame through his hit TV series, The Crocodile Hunter, where he fearlessly interacted with crocodiles, snakes, and other animals — all while educating viewers in his signature enthusiastic style. His catchphrase “Crikey!” became known around the world and reflected his boundless excitement and passion for nature.

                Steve grew up around animals at the Australia Zoo, which his parents founded. He later took over the zoo and expanded it into a leading conservation and education center. Steve’s mission was simple: to make people fall in love with wildlife — because he believed that “people want to save what they love.”

                Tragically, Steve passed away on September 4, 2006, after a stingray accident while filming in the Great Barrier Reef. His death shocked the world, but his legacy lives on through the work of his family and the Wildlife Warriors foundation, which continues to protect endangered animals and habitats around the globe.

                Today, Steve Irwin is remembered not just as “The Crocodile Hunter,” but as a passionate and fearless ambassador for the planet.
                </p>
            </div>
        </div>
    {% endblock %}