<!--file: templates/mini_insta/base.html-->
<!--author: Ashtosh Bhandari ashtosh@bu.edu -->
<!--description: the static page that contains the navigation bar and footer-->

{% load static%}
<html>

    <head>
        <title> Mini Insta</title>
        <link rel="stylesheet" href="{% static 'mini_insta/style.css'%}">
    </head>

    <body>
        <header class="nav-header">

            <div class="nav-container">
                <h1>Mini Insta</h1>
                {% if user.is_authenticated %}
                    <p>Logged in as: <strong>{{ user.username }}</strong>
                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">Logout</button>
                    </form>
                    </p>
                {% else %}
                    <p>Not logged in
                    <a href="{% url 'login' %}" class="auth-button">Login</a>
                    <a href="{% url 'create_profile' %}" class="auth-button">Register</a>
                    </p>
                {% endif %}
            </div>

        </header>

        
        <!-- page specific contenet here-->
         {% block content %}
         {% endblock %}
    </body>
    
    <footer class="nav-footer">

        <div class="nav-container">
                <a href="{% url 'show_all' %}">All Profiles</a>

                {% if user.is_authenticated %}
                    <a href="{% url 'show_feed' %}">Home (Feed)</a>
                    <a href="{% url 'search' %}">Search</a>
                    <a href="{% url 'my_profile' %}">My Profile</a>
                    <a href="{% url 'create_post' %}">Create Post</a>
                {% else %}
                    <a href="{% url 'create_profile' %}">Register</a>
                {% endif %}

        </div>

    </footer>

</html>