<!--file: templates/mini_insta/base.html-->
<!--author: Ashtosh Bhandari ashtosh@bu.edu -->
<!--description: the static page that contains the navigation bar and footer-->

{% load static%}
<html>

    <head>
        <title> Mini Insta</title>
        <link rel="stylesheet" href="{% static 'mini_insta/style.css'%}">
    </head>

    <body>
        <header class="nav-header">

            <div class="nav-container">
                <h1>Mini Insta</h1>
            </div>

        </header>

        
        <!-- page specific contenet here-->
         {% block content %}
         {% endblock %}
    </body>
    
    <footer class="nav-footer">

        <div class="nav-container">
                {% if profile %}
                    <a href="{% url 'show_feed' pk=profile.pk %}">Home (Feed)</a>
                    <a href="{% url 'search' pk=profile.pk %}">Search</a>
                    <a href="{% url 'show_all' %}">All Profiles</a>
                    <a href="{% url 'profile' pk=profile.pk %}">Profile</a>
                    <a href="{% url 'create_post' pk=profile.pk %}">Create Post</a>
                {% else %}
                    <a href="{% url 'show_all' %}">All Profiles</a>
                {% endif %}

        </div>

    </footer>

</html>