<!--file: templates/mini_insta/show_post.html-->
<!--author: Ashtosh Bhandari ashtosh@bu.edu -->
<!--description: the page that shows a post of a user from Profile -->

{% extends 'mini_insta/base.html' %}
{% block content %}

    <div class="post-detail">
        <h2>Post Details</h2>

        <div class="post-photos">
            {% for photo in post.get_all_photos %}
                <img src="{{ photo.get_image_url }}" alt="Photo for post" width="400" />

            {% empty %}
                <p>No photos for this post.</p>

            {% endfor %}
        </div>

        <p><strong>Caption:</strong> {{ post.caption }}</p>
        <p><strong>Posted on:</strong> {{ post.timestamp}}</p>

         <div class="post-actions">
            <a href="{% url 'update_post' pk=post.pk %}" class="update-button">Update</a>
            <a href="{% url 'delete_post' pk=post.pk %}" class="delete-button">Delete</a>
        </div>

        <!-- Comments section -->
        <div class="post-comments">

            <!-- Like count -->
            <div class="post-likes">
                <p>{{ post.get_likes_display_text }}</p>
            </div>

            <h3>Comments</h3>
            {% for comment in post.get_all_comments %}
                <div class="comment">
                    <p><strong>@{{ comment.profile.username }}:</strong> {{ comment.text }}</p>
                </div>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
        </div>
    </div>


{% endblock %}